* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    background-color: purple;
    height: 100px;
    justify-content: flex-start;
    align-items: center;
}

.menu-container {
    display: flex;
    background-color: purple;
    height: 50px;
    align-items: center;

}

.background-container {
    height: 1000px;
}

.name,
.menu {
    color: #fff;
    margin-left: 40px;
    font-family: Helvetica;
}

.footer-container {
    display: flex;
    background-color: purple;
    height: 100px;

}

.footer {
    display: flex;
    align-items: center;
    border: 1px black solid;
}

.about {
    display: flex;
    width: 670px;
    flex-direction: column;
}

p, h2 {
    margin-bottom: 20px;
    margin-left: 40px;
}
